#overlay

= haml :_login

= haml :_dashboard

= haml :_users

= haml :_my_profile
= haml :_profile_edit

= haml :_events
= haml :_event_create
= haml :_event_info
= haml :_edit_event

= haml :_applications
= haml :_application_info

= haml :_event_applications
= haml :_event_application_info

= haml :_feedback
