#errors.ui-state-error.ui-corner-bottom
#messages.ui-state-highlight.ui-corner-bottom

#center.ui-layout-center
  = haml :_center

#north.ui-layout-north{ :style => "overflow:hidden"}
  = haml :_north

#south.ui-layout-south
  = haml :_south

#west.ui-layout-west
  = haml :_west

#east.ui-layout-east
  = haml :_east